<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Notes</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>WRITE YOUR NOTES</h1>
     
          <div class="img1">
            <img src="/imgss/Team_checklist_concept_illustration___Free_Vector-removebg-preview.png" alt="image">
          </div>

          <div class="note">
            <form action="/start" method="GET">
               <button type="submit">START</button>
            </form>
          </div>
      
    </div>
  </body>
</html>